### Q. As a Data Scientist working for ABC Corporation, you are tasked with developing a data processing program to extract and categorize specific information from a given  text, which contains an email address associated with a newly onboarded employee. 

The company follows a standardized format for creating email IDs, comprising the following components:
  
  

`"first_name" + "." + "last_name" + "employee_id" + "@gmail.com"`.

#### Your objective is to create a data processing program that can extract and organize the following data from the email address:
- First name
- Last name
- Employee ID
- Company domain

**Sample Input:**  

The email address of the recently hired data scientist is `maria.peter123@datasciencecorp.com`.

**Sample Output:**
- First name: maria
- Last name: peter
- Employee ID: 123
- Company domain: datasciencecorp

Your program should be able to extract and display this information accurately for any given email address following the same format.

In [12]:
import pandas as pd
data = {'Email' : ['john.doe012@example.com',
'emily.smith210@emailprovider.net',
'alexander.jones120@mailservice.org',
'sarah.brown356@example.org',
'samuel.white536@emailco.com',
'lisa.jones258@emailcompany.net',
'daniel.miller528@example.net',
'jennifer.wilson471@mailservice.com',
'michael.clark174@emailprovider.org',
'anna.walker369@examplemail.net']}
                   
df = pd.DataFrame(data)
print(df)

                                Email
0             john.doe012@example.com
1    emily.smith210@emailprovider.net
2  alexander.jones120@mailservice.org
3          sarah.brown356@example.org
4         samuel.white536@emailco.com
5      lisa.jones258@emailcompany.net
6        daniel.miller528@example.net
7  jennifer.wilson471@mailservice.com
8  michael.clark174@emailprovider.org
9      anna.walker369@examplemail.net

In [13]:
df['Email'][0]

'john.doe012@example.com'

In [ ]:
def regfun(text):
    pattern = r'(\w+)\.([a-zA-Z]+)(\d+)@(\w+)\.com'
    return

In [20]:
import re

#text = 'The email id of the newly joined employee is rahul.khanna85@hv.com'

text = df['Email'][0]

pattern = r'(\w+)\.([a-zA-Z]+)(\d+)@(\w+)\.com'

result = re.search(pattern, text)
first_name = result.group(1)
last_name = result.group(2)
emp_id = result.group(3)
company = result.group(4)

print(first_name)
print(last_name)
print(emp_id)
print(company)

john
doe
012
example

In [32]:
import pandas as pd
import re

data = {'Email': ['Hi My email id is : john.doe012@example.com',
                  'There comes my email id- emily.smith210@emailprovider.net',
                  'Attaching my official email id as alexander.jones120@mailservice.org',
                  'This is detail for the new employee sarah.brown356@example.org',
                  'samuel.white536@emailco.com is my offical id',
                  'My email id is -- lisa.jones258@emailcompany.net ',
                  'Following is the email id : daniel.miller528@example.net',
                  'Hello Sir, My current email id is: jennifer.wilson471@mailservice.com',
                  'Company email id is michael.clark174@emailprovider.org',
                  'anna.walker369@examplemail.net']}

df = pd.DataFrame(data)

def extract_info(email):
    pattern = r'(\w+)\.([a-zA-Z]+)(\d+)@(\w+)\.(\w+)'
    result = re.search(pattern, email)
    first_name = result.group(1)
    last_name = result.group(2)
    emp_id = result.group(3)
    company = result.group(4)
    return pd.Series({'First_Name': first_name, 'Last_Name': last_name, 'Employee_ID': emp_id, 'Company': company})

# Apply the function to the 'Email' column
df[['First_Name', 'Last_Name', 'Employee_ID', 'Company']] = df['Email'].apply(extract_info)

# Display the resulting DataFrame
print(df)

                                               Email First_Name Last_Name  \
0        Hi My email id is : john.doe012@example.com       john       doe
1  There comes my email id- emily.smith210@emailp...      emily     smith
2  Attaching my official email id as alexander.jo...  alexander     jones
3  This is detail for the new employee sarah.brow...      sarah     brown
4       samuel.white536@emailco.com is my offical id     samuel     white
5  My email id is -- lisa.jones258@emailcompany.net        lisa     jones
6  Following is the email id : daniel.miller528@e...     daniel    miller
7  Hello Sir, My current email id is: jennifer.wi...   jennifer    wilson
8  Company email id is michael.clark174@emailprov...    michael     clark
9                     anna.walker369@examplemail.net       anna    walker

  Employee_ID        Company
0         012        example
1         210  emailprovider
2         120    mailservice
3         356        example
4         536        emailco
5         258   emailcompany
6         528        example
7         471    mailservice
8         174  emailprovider
9         369    examplemail

In [16]:
df['Employee_ID']

0
1
2
3
4
5
6
7
8
9
Name: Employee_ID, dtype: object

In [17]:
df.head()

,Email,First_Name,Last_Name,Employee_ID,Company
0,john.doe012@example.com,john,doe012,,example.com
1,emily.smith210@emailprovider.net,emily,smith210,,emailprovider.net
2,alexander.jones120@mailservice.org,alexander,jones120,,mailservice.org
3,sarah.brown356@example.org,sarah,brown356,,example.org
4,samuel.white536@emailco.com,samuel,white536,,emailco.com

In [23]:
import pandas as pd
import re

data = {'Email': ['john.doe012@example.com',
                  'emily.smith210@emailprovider.net',
                  'alexander.jones120@mailservice.org',
                  'sarah.brown356@example.org',
                  'samuel.white536@emailco.com',
                  'lisa.jones258@emailcompany.net',
                  'daniel.miller528@example.net',
                  'jennifer.wilson471@mailservice.com',
                  'michael.clark174@emailprovider.org',
                  'anna.walker369@examplemail.net']}

df = pd.DataFrame(data)

def extract_info(email):
    pattern = r'(\w+)\.(\w+)(\d*)@(\w+\.\w+)'
    result = re.search(pattern, email)
    if result:
        first_name = result.group(1)
        last_name = result.group(2)
        emp_id = result.group(3) if result.group(3) else None  # Handle the case where emp_id is empty
        company = result.group(4)
        return pd.Series({'First_Name': first_name, 'Last_Name': last_name, 'Employee_ID': emp_id, 'Company': company})
    else:
        return pd.Series({'First_Name': None, 'Last_Name': None, 'Employee_ID': None, 'Company': None})

# Apply the function to the 'Email' column
df[['First_Name', 'Last_Name', 'Employee_ID', 'Company']] = df['Email'].apply(extract_info)

# Display the resulting DataFrame
print(df)

                                Email First_Name  Last_Name Employee_ID  \
0             john.doe012@example.com       john     doe012        None
1    emily.smith210@emailprovider.net      emily   smith210        None
2  alexander.jones120@mailservice.org  alexander   jones120        None
3          sarah.brown356@example.org      sarah   brown356        None
4         samuel.white536@emailco.com     samuel   white536        None
5      lisa.jones258@emailcompany.net       lisa   jones258        None
6        daniel.miller528@example.net     daniel  miller528        None
7  jennifer.wilson471@mailservice.com   jennifer  wilson471        None
8  michael.clark174@emailprovider.org    michael   clark174        None
9      anna.walker369@examplemail.net       anna  walker369        None

             Company
0        example.com
1  emailprovider.net
2    mailservice.org
3        example.org
4        emailco.com
5   emailcompany.net
6        example.net
7    mailservice.com
8  emailprovider.org
9    examplemail.net