# Connecting SQLite to Python

![image.png](https://pythontic.com/sqlite_attach_db_python.png)

- SQLite is a lightweight, file-based SQL database engine that is easy to set up and use. 
- Python provides a built-in module called **`sqlite3`** that allows seamless integration with SQLite databases.
- It enables users to perform SQL operations, such as creating databases, executing queries, and manipulating data, directly from Python code.

## Importance in Data Science

1. **Data Storage and Retrieval**: SQLite offers an efficient way to store and retrieve structured data, making it suitable for smaller-scale applications or projects where a full-fledged database might be excessive.

2. **Data Exploration and Analysis**: Integration with Python allows data scientists and analysts to easily access, manipulate, and analyze data using SQL queries and Python code. It facilitates data exploration before processing or analysis.

3. **Prototyping and Development**: For prototyping and developing applications or analytical models, SQLite serves as a convenient and quick-to-set-up database

###  Import Libraries
- **`sqlite3`**: Library for working with SQLite databases.
- **`pandas`**: Library for data manipulation and analysis.

In [2]:
import sqlite3
import pandas as pd

### Connect to the Database
Use **`sqlite3.connect()`** to establish a connection to the SQLite database by providing the database file path.

In [25]:
database = "sakila.db"

In [26]:
# Connect to the SQLite database
connection =  sqlite3.connect(database)

In [27]:
connection

### Create a Cursor Object
Create a cursor object using `connection.cursor()` to execute SQL queries.

In [36]:
# Create a cursor object to execute SQL queries
cursor = connection.cursor()
cursor

###  Retrieve Data
- Let's retrieve a table named `film` from open source `sakila` database.
- Use `cursor.execute()` to execute an **SQL query (`SELECT * FROM film`)** to fetch data from the `'film'` table.

In [37]:
# to update data in the table

d = cursor.execute('''
        SELECT * FROM film;
        
    ''')

# Commit the changes
connection.commit()

In [38]:
d

### Get Column Names
Extract column names from the fetched data using `cursor.description`.

In [39]:
#Get column names
col_names = [x[0] for x in cursor.description]
col_names

['film_id',
 'title',
 'description',
 'release_year',
 'language_id',
 'original_language_id',
 'rental_duration',
 'rental_rate',
 'length',
 'replacement_cost',
 'rating',
 'special_features',
 'last_update']

### Fetch Data
Use `cursor.fetchall()` to retrieve all data from the executed SQL query.

In [40]:
# Step 6: Fetch all the data
tables = cursor.fetchall()
# tables

### Create a DataFrame
Utilize the **fetched data** and **column names** to create a Pandas DataFrame using `pd.DataFrame()` for perform further data analysis .

In [41]:
#Create a Pandas DataFrame
employees_df = pd.DataFrame(tables, columns=col_names)
employees_df

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2021-03-06 15:52:00
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2021-03-06 15:52:00
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2021-03-06 15:52:00
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2021-03-06 15:52:00
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2021-03-06 15:52:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,None,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",2021-03-06 15:52:08
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,None,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",2021-03-06 15:52:08
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,None,6,0.99,105,10.99,NC-17,Deleted Scenes,2021-03-06 15:52:08
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,None,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2021-03-06 15:52:08
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2021-03-06 15:52:08

### Export Data to CSV / Excel
If you wish to save this DataFrame to a CSV / Excel file using **to_csv() / to_excel()** method with **index=False** to exclude the index column.

In [42]:
# Export the data to a CSV file
employees_df.to_csv("film.csv", index=False)